<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>jailbreakd</string>
	<key>Program</key>
	<string>/jb/jailbreakd</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ProcName</key>
		<string>0x0000000000000000</string>
		<key>ProcFind</key>
		<string>0x0000000000000000</string>
		<key>ZoneMapOffset</key>
		<string>0x0000000000000000</string>
		<key>KernProcAddr</key>
		<string>0x0000000000000000</string>
		<key>KernelBase</key>
		<string>0x0000000000000000</string>
	</dict>
	<key>UserName</key>
	<string>root</string>
	<key>MachServices</key>
	<dict>
		<key>zone.sparkes.jailbreakd</key>
		<dict>
			<key>HostSpecialPort</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/jailbreakd-stderr.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/jailbreakd-stdout.log</string>
</dict>
</plist>
